# Files from possible IDE's.
/.metadata
/.idea
/.vscode
/.vs
/CMakeLists.txt.user
# Any cmake-build directory in the project tree.
**/cmake-build*/*
# Developers addition on the 'CMakePresets.json' file.
/CMakeUserPresets.json
# Binary directories containg build/packaged results.
/bin/gcov/*
/bin/pkg/*
/bin/lnx64/*
/bin/win64/*
/bin/man/*
# Credential files for testing CI-pipeline called scripts.
/.nexus-upload-credentials
/.comment-credentials
# Debug messages for testing conventinal commit.
/.version-bump
# Test bash scripts.
/test-*.sh
