#include <windows.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO
FILEVERSION @RC_WindowsFileVersion@
PRODUCTVERSION @RC_WindowsProductVersion@
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS VS_FF_DEBUG
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904E4"
		{
			VALUE "CompanyName", "@RC_CompanyName@\000"
			VALUE "FileDescription", "@RC_FileDescription@\000"
			VALUE "FileVersion", "@RC_FileVersion@\000"
			VALUE "InternalName", "@RC_InternalName@\000"
			VALUE "LegalCopyright", "None\000"
			VALUE "LegalTrademarks", "None\000"
			VALUE "OriginalFilename", "@RC_OriginalFilename@\000"
			VALUE "ProductName", "@RC_ProductName@\000"
			VALUE "ProductVersion", "@RC_ProductVersion@\000"
			VALUE "Comments", "@RC_Comments@\000"
			VALUE "BuildDateTime", "@RC_BuildDateTime@\000"
		}
	}
	BLOCK "VarFileInfo"
	{
		// (0x0409)	U.S. English (1200) Unicode
		VALUE "Translation", 0x0409, 1200
	}
}
