
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body div.contents div.fragment {
	padding: 0.5em;
}

body  div.contents div.fragment > div.line {
	line-height: 1.5;
}


@media screen and (min-width: 700px)
{
	body {
		height: 100vh;
		margin: 0;
		display: flex;
		flex-direction: column;
	}

	body > div.contents
	{
		margin: 0;
		padding: 0 0.5em;
	}
	body > div.contents,
	body > div.PageDoc {
		flex-grow: 1;
		overflow: auto;
		height: inherit;
	}

	body > hr.footer {
		display: none;
	}

	body > address.footer {
		border-top: 1px solid #C4CFE5;
		background-image: url(tab_b.png);
		background-repeat: repeat-x;
		background-position: 0 -5px;
	}

}